%h3.mb-3 Log in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :email, autofocus: true
  = f.input :password
  = f.button :submit, 'Sign in', class: 'btn btn-primary'
